.mars-main {
    width: 90%;
    margin: auto;
    color: lighten($secondary-text-color, 10%);

    a {
        color: $primary-color-dark;
    }

    h1, h2, h3, h4 {
        padding: 1em;
        
    }

    h2, h3, h4{
        color: $accent-color;
    }

    p {
        padding: 1em 2em;
    }
}

.mars-article {
    width: 100%;

    @include respond-to("medium") {
        max-width: 80%;
    }


    &__footer {
        ul {
            flex-direction: column;
            margin-left: 1em;
        }
    }
}

.rovers {
    @extend %grid;
    flex-direction: row;
    justify-content: space-around;
   
 

    img {
        border: 2px solid $primary-color;
        width: 250px;
    }
}

.footer {
    width: 100%;

    @include respond-to("medium") {
        max-width: 80%;
    }
}

.goBackButton{
    position: fixed;
    left: 0;
    bottom: 50vh;
    background-color: $primary-color;

    a{
       color: $primary-color-text;
    }
}