.header {
    @extend %grid;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    margin: 0;
    padding: 0;
    background-color: $primary-color-dark;

    @include respond-to("medium") {
        padding: 1em;
    }


    a {
        text-align: center;
        margin-right: 0.5em;
    }

    p{
      color: $primary-color-text;
    }
}

.title {
    padding-left: 0.5em;
}