
.menuBar {
    background-color: $primary-color-light;
    width: 100%;
    text-align: center;

    @include respond-to("medium") {
        height: 550px;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    p{
        color: $secondary-text-color;
    }
}